body {
 margin: 0%;
 padding: 0%;
}


h2,h3, h4 {
font-family: 'Noto Sans Mono', monospace;
  font-size: 60px;
  color: #ffffff;
  background-color: #b35900;
  margin-left: 20%;
  width: 30%;
  border: 3px solid #ffffff;
  padding: 30px;
  text-align: center;
}




.linkbox1 {
  font-family: 'Noto Sans Mono', monospace;
  font-size: 24px;
  color: #ffffff;
  background-color: #b35900;
  margin-left: 20%;
  width: 10%;
  border: 3px solid  #ffffff;
  padding: 10px;
  text-align: center;
  display: inline-block;


}

.linkbox2 {
  font-family: 'Noto Sans Mono', monospace;
  font-size: 24px;
  color: #ffffff;
  background-color: #b35900;
  margin: 20px;
  width: 10%;
  border: 3px solid  #ffffff;
  padding: 10px;
  text-align: center;
  display: inline-block;


}


p {
  font-family: 'Noto Sans Mono', monospace;
  font-size: 24px;
  color: #ffffff;
  background-color:#b35900;
  margin-left: 20%;
  width: 50%;
  padding: 20px;
}

strong {
  color: #ffffff;
  text-decoration: underline;
}

em {
    color: #b35900;
}

a {
  color: #ffffff;
}

.note {
  margin-left: 20%;
  color: #b35900;
  padding-bottom: 5%;
}

.linkbox {
  font-family: 'Noto Sans Mono', monospace;
  font-size: 24px;
  color: #ffffff;
  background-color: #b35900;
  width: 20%;
  border: 3px solid  #ffffff;
  text-align: center;
}
