body {
  background-image:url(/assets/images/bg-cat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
font-family: 'Noto Sans Mono', monospace;
  font-size: 60px;
  color: #ffffff;
  background-color: #b35900;
  margin: auto;
  width: 20%;
  border: 8px solid #ffffff;
  padding: 40px;
  text-align: center;
}

p.note {
  text-align: center;
  color: #b35900;
}

img {
  display: block;
  margin: auto;
  margin-top: 50px;
}

div.linkbox2 {
  font-family: 'Noto Sans Mono', monospace;
  font-size: 24px;
  color: #ffffff;
  background-color: #b35900;
  margin: auto;
  width: 20%;
  border: 3px solid  #ffffff;
  padding: 10px;
  text-align: center;
}


strong {
  text-decoration-color: #ffffff;
  text-decoration: underline;
}

a {
  color: #ffffff;
}

p.specialparagraph {
  font-family: 'Noto Sans Mono', monospace;
  padding: 10px;
  text-align: center;
  background-color: #ff8484;
  margin: 40px;
  border: 10px inset #cc0000;
  border-radius: 10px;

}

